<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header></header>
    <section>
      <form method="POST" action="/login.html">
        <p>
          <label for="nombre">Usuario</label>
          <input type="name" name="nombre" id="nombre" />
        </p>
        <p>
          <label for="password">Contraseña</label>
          <input
            type="password"
            minlength="2"
            name="password"
            id="password"
            required
          />
        </p>
        <p>
          <button class="submit" type="submit">Enviar</button>
        </p>
      </form>
    </section>
    <footer></footer>
  </body>
</html>
