* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
}
div.top-header {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}

div.form {
  width: 50%;
  display: flex;
  align-items: center;
}

form {
  width: 75%;
  margin: 0 auto;
  padding: 40px 0 80px 0;
}

.search {
  background-color: white;
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px;
  border-radius: 4px;
}

button[type="submit"]{
  background-color: #4caf50;
  border: 0;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  margin-top: 20px;
}

button[type="reset"]{
  background-color: #fff;
  border: 0;
  color: black;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  margin-top: 20px;
}

header {
  background-color: #eac926;
  margin: 0px;
}

header div.logo {
  width: 50%;
  padding: 10px;
}

header nav {
  font-size: 12px;
  display: none;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
}

header div.top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

.price {
  font-size: 18px;
  width: 30%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
  width: 70%;
}

h3,
.description {
  color: #666;
}

.description {
  display: none;
  margin-top: 20px;
}

main section article:hover .description {
  display: inline-block;
}

section.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

main section article {
  background-color: #fff;
  margin: 10px 0px;
  position: relative;
}

main section article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
}

main section article i:hover {
  transform: rotate(-90deg);
}

main section h3 {
  margin: 20px 0px;
}

main input {
  margin: 9px 5px 10px 0;
}

.input {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px;
  border-radius: 4px;
}

.input:focus {
  border: 3px solid #555;
}

main h4 {
  width: 100%;
  margin: 20px 0 5px 0;
}

main form p {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

article div.main-article {
  width: 100%;
  border-top: 1px solid #ebebeb;
  padding: 15px;
}

.flex {
  display: flex;
  align-items: center;
  align-content: center;
}

.submit:hover {
  background-color: #0022aa;
}

.copyright {
  text-align: left;
  padding-top: 40px !important;
  margin: 0px !important;
}

footer {
  text-align: center;
  background-color: #fff;
  padding: 40px;
  border: 5px solid #ebebeb;
}

footer section {
  margin: 20px 0 20px 0;
}

footer section i {
  color: #0044aa;
  font-size: 40px;
  margin: 20px 0px 10px 0px;
  width: 50px;
}

/*MEDIA QUERYS - Tablet*/
@media (min-width: 361px) {
  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 10px 5px 10px 5px;
    width: 46%;
  }

  header nav {
    display: block;
    height: 30px;
  }

  div.burger-menu i {
    display: none;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
  }

  div.top-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
  }

  header div.top-header p {
    margin-top: 0px;
  }

  .header-links {
    justify-content: space-evenly;
  }

  .header-rutas {
    justify-content: space-evenly;
  }

  header nav {
    width: 100%;
    display: flex;
    height: 30px;
  }

  header ul {
    width: 100%;
    display: flex;
  }
}

/*MEDIA QUERYS - Desktop*/
@media (min-width: 769px) {
  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 10px 5px 10px 5px;
  }

  .products {
    display: flex;
    flex-wrap: nowrap;
  }

  div.top-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
  }

  header div.top-header p {
    margin-top: 0px;
  }

  .header-links {
    justify-content: space-evenly;
  }

  .header-rutas {
    justify-content: space-evenly;
  }

  header nav {
    width: 100%;
    display: flex;
  }

  header ul {
    width: 100%;
    display: flex;
  }

  footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer section {
    padding: 0px 40px 0 40px;
    width: 30%;
    align-content: center;
    text-align: center;
  }

  footer section .copyright {
    align-content: flex-start !important;
  }

  footer section i:hover {
    color: #39b54a;
    font-size: 40px;
    margin: 20px 0px 10px 0px;
    width: 50px;
  }
}
